nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1rem solid var(--very-light-pink);
	width: 100%;
}
.menu {
	display: none;
}
.nav-logo {
	width: 10rem;
}
.navbar-right {
	display: flex;
	justify-content: right;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 6rem;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 1.2rem;
}
.navbar-left ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 0.1rem solid var(--white);
	padding: 0.8rem;
	border-radius: 0.8rem;
}
.navbar-left ul li a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 1.6rem;
}
.shopping-cart {
	width: 2rem;
	height: 2rem;
	padding-right: 1rem;
	cursor: pointer;
}
.cart-container {
	
}
.items-count {
	position: absolute;
	top: 1.3rem;
	right: 0.6rem;
	background-color: var(--hospital-green);
	color: black;
	border-radius: 50%;
	width: 1.4rem;
	height: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--sm);
	font-weight: bold;
  }
  

@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}